{% extends 'base.html' %}

{% block title %}
  Inicio de Sesion
{% endblock %}

{% block content %}
<div class="mt-8 max-w-screen-xl px-4 py-8 mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="container relative flex flex-col justify-between h-full max-w-6xl px-10 mx-auto xl:px-0 mt-5"></div>
        <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900">Curso de Programación</h2>
        <p class="mb-12 text-lg text-gray-500">Aqui mostramos que aprenderas en el curso de programación de ESIBot</p>
        <div class="w-full">
            <div class="flex flex-col w-full mb-10 sm:flex-row">
                <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                    <div class="relative h-full ml-0 mr-0 sm:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-indigo-500 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-indigo-500 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Manejo de Maquinas virtuales</h3>
                            </div>
                            <p class="mb-2 text-gray-600">Aprenderemos a manejar maquinas virtuales, tipos de maquinas virtuales y como usarlas
                                independientemente de el sistema operativo objetivo. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="relative h-full ml-0 md:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-purple-500 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-purple-500 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Manejo nivel intermedio de Linux</h3>
                            </div>
                            <p class="mb-2 text-gray-600">Tambien aprenderemos sobre Linux, de donde viene, quien lo creo, el por que, las diferentes distros
                                y que ofrecen... Tambien aprenderemos a usar la terminal, comandos en bash, directorios, permisos. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col w-full mb-5 sm:flex-row">
                <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                    <div class="relative h-full ml-0 mr-0 sm:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-blue-400 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-blue-400 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Fundamentos de programacion</h3>
                            </div>
                            <p class="mb-2 text-gray-600">Veremos tambien conceptos de programación universales, aplicables a la mayoria de lenguajes actuales. Definitivamente util para quien
                                se quiera introducir en el mundo de la programacion.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full mb-10 sm:mb-0 sm:w-1/2">
                    <div class="relative h-full ml-0 mr-0 sm:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-yellow-400 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-yellow-400 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Conceptos avanzados de programacion</h3>
                            </div>
                            <p class="mb-2 text-gray-600">Tambien profundizaremos los conceptos anteriormente vistos usando como ejemplo el lenguaje de programacion Python, 
                                que es de los mas famosos y usados de la actualidad. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full sm:w-1/2">
                    <div class="relative h-full ml-0 md:mr-10">
                        <span class="absolute top-0 left-0 w-full h-full mt-1 ml-1 bg-green-500 rounded-lg"></span>
                        <div class="relative h-full p-5 bg-white border-2 border-green-500 rounded-lg">
                            <div class="flex items-center -mt-1">
                                <h3 class="my-2 ml-3 text-lg font-bold text-gray-800">Redes</h3>
                            </div>
                            <p class="mb-2 text-gray-600">Veremos conceptos basicos de como funciona internet, el modelo OSI y protocolos usuales como TCP, UDP e IP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- source:https://tailwind.besoeasy.com -->
{% endblock %}